
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_StudentLayoutPage.cshtml";
}

<h2>Login</h2>

@if (Model != null)
{
    <h1> Here Is your Output</h1>
    <ul>
        <li>@Model.name</li>
    </ul>
}

