
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/CSS/buttton.css"/>
<script src="~/Content/Scripts/button.js"></script>

<h2>Index</h2>
@*<a href="/Student/ViewStudent" class="btn btn-dark">Student View</a>*@
<a href="/Student/DepartmentView" class="btn btn-dark" id="myButton">Department View</a>
<button class="mybutton">CSS CHECK</button>


