
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h2>Department and Student Information</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Head of Department</th>
            <th>Student Name</th>
            <th>Student CGPA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                @foreach (var student in department.Students)
                {
                <tr>
                    <td>@department.name</td>
                    <td>@department.headofDept</td>
                    <td>@student.name</td>
                    <td>@student.cgpa</td>
                </tr>


            }
                </tr>
            }
    </tbody>
</table>


