
@{
    ViewBag.Title = "EditCourse";
}

<h2>EditCourse</h2>
<form action="" method="post">
    <input type="hidden" name="id" value="@Model.id"/>
    <input type="text" name="c_name" value="@Model.c_name"/>
    <input type="submit" value="Submit"/>
</form>

