@{
    ViewBag.Title = "Home Page";
}

<main>
    <a href="/Student/ViewStudent" class="btn btn-dark">Student View</a>
    <a href="/Department/DepartmentView" class="btn btn-dark">Department View</a>
</main>